/**
 * CSS for the CS142 Project 4, Problem 2 States component.
 * 
 * Since CSS uses a global name space for classes we should use names starting
 * with "cs142-states-" here.
 */

body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.State-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    border: 1px dashed #722b00;
    display: inline-block;
    box-sizing: border-box;
    background-color: whitesmoke;
}